<%= form_for(@weekly_sale_setup_product_group) do |f| %>
  <% if @weekly_sale_setup_product_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@weekly_sale_setup_product_group.errors.count, "error") %> prohibited this weekly_sale_setup_product_group from being saved:</h2>

      <ul>
      <% @weekly_sale_setup_product_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= t(:name, :scope => :weekly_sale_setup_product_groups) %><br />
    <%= f.text_field :name, :maxlength=>100 %>
  </div>
  <div class="field">
    <%= t(:display_order, :scope => :weekly_sale_setup_product_groups) %><br />
    <%= f.text_field :display_order, :maxlength=>2 %>
  </div>
  <div class="field">
    <%= t(:project, :scope => :weekly_sale_setup_product_groups) %><br />
    <%= f.select :project_id, @projects.map {|p| [ p.to_s, p.id ] } %>
  </div>
  <div class="field">
    <%= t(:account, :scope => :weekly_sale_setup_product_groups) %><br />
    <%= f.select :account_id, @accounts.map {|a| [ a.to_s, a.id ] } %>
  </div>
  <div class="field">
    <%= t(:weekly_sale_setup, :scope => :weekly_sale_setup_product_groups) %><br />
    <%= f.select :weekly_sale_setup_id, @weekly_sale_setups.map {|w| [ w.description, w.id ] } %>
  </div>
  <div class="actions">
    <%= f.submit t(:save, :scope => :global) %>
  </div>
<% end %>
