
<%= form_for([:admin, @company]) do |f| %>
<%= f.error_messages %>

<div class="dodo-tab-group">
  <ul>
    <li><a href="#dodo-contact"><%= t('companies.contact') %></a></li>
    <li><a href="#dodo-accounting"><%= t('companies.accounting') %></a></li>
    <li><a href="#dodo-users"><%= t('companies.users') %></a></li>
  </ul>

  <div id="dodo-contact">

    <table>
<tr>
<td>
    <% if @company.new_record? %>
    <p>
      <%= f.label :template_company_id %><br />
      <%= f.select :template_company_id, Company.all.map {|c| [c.name, c.id]}, :include_blank => t("admin.companies.select_template_company") %>
    </p>
    <% end %>
    
    <p>
      <%= f.label :name, t(:name, :scope => :companies) %><br />
      <%= f.text_field :name %>
    </p>

    <h2><%= t('companies.visiting_address') %></h2>

    <p>
      <%= render :partial => "addresses/nested_form", :locals => { :parent => f, :field_name => :visiting_address } %>
    </p>

    <p>
      <%= f.label :organization_number, t(:organization_number, :scope => :companies) %><br />
      <%= f.text_field :organization_number %>
    </p>

</td><td>

    <h2><%= t('companies.billing_address') %></h2>
    <button type="button" onclick="dodo.copyAddress('company_visiting','company_billing')">
      <%= t("companies.copy_from_visiting") %>
    </button>

    <p>
      <%= render :partial => "addresses/nested_form", :locals => { :parent => f, :field_name => :billing_address } %>

    </p>

    <p>
      <%= f.check_box :show_turnover %><%= f.label :show_turnover, t(:show_turnover, :scope => :companies) %>
    </p>
    <p>
      <%= f.label :bill_comment_top, t(:bill_comment_placement, :scope => :companies) %><br />
      <%= f.select :bill_comment_top, { t("companies.top")=> true, t("companies.bottom")=> false }, :selected => @company.bill_comment_top %>
      <%
	 puts "AAAAAAAAAAAAAAA", @company.bill_comment_top
%>
    </p>

    <p>
      <%= f.label :bill_line_comment_top, t(:bill_line_comment_placement, :scope => :companies) %><br />
      <%= f.select :bill_line_comment_top, { t("companies.bottom")=> false, t("companies.top")=> true  } %>
    </p>
</td><td>

    <h2><%= t('companies.delivery_address') %></h2>
    <button type="button" onclick="dodo.copyAddress('company_visiting','company_delivery')">
      <%= t("companies.copy_from_visiting") %>
    </button>

    <p>
      <%= render :partial => "addresses/nested_form", :locals => { :parent => f, :field_name => :delivery_address } %>
    </p>
</td><td>

    <h2><%= t('companies.contact_information') %></h2>
    <% [:telephone_number, :fax, :mobile_number, :email, :web_site ].each{ |sym| %>
    <p>
      <%= f.label sym, t(sym, :scope => :global) %><br />
      <%= f.text_field sym %>
    </p>
    <% } %>
</td>
</tr>
</table>

  </div>
  <div id="dodo-accounting">
    <h2><%= t("companies.accounts") %></h2>
    <p>
      <%= f.label :bank_account, t(:bank_account, :scope => :companies) %><br />
      <%= f.text_field :bank_account %>
    </p>
    
    <h2><%= t("companies.interest") %></h2>
    <p>
      <%= f.label :interest_rate, t(:interest_rate, :scope => :companies) %><br />
      <%= f.text_field :interest_rate %>
    </p>
    <p>
      <%= f.label :late_fee, t(:late_fee, :scope => :companies) %><br />
      <%= f.text_field :late_fee %>
    </p>
    <%
       JournalType.all.each {
       |type|
       %>
    <%= type %>

    <%
       } 
       %>
    

  </div>

  <div id="dodo-users">
    <p>
      <%= t(:users, :scope => :companies) %><br />

      <%= f.fields_for :assignments do |assignment| %>

      <%= assignment.select :user_id, User.all.map {|p| [p.email, p.id]}, :include_blank => "Add user" %>
      <%= assignment.select :role_id, Role.all.map {|r| [r.name, r.id]}, :include_blank => "Select role" %>

      <% unless assignment.object.new_record? %>
      <%= assignment.check_box '_destroy' %>
      <%= assignment.label '_destroy' %>
      <% end %>
      
      <br />

      <% end %>
    </p>
  </div>


  <p>
    <%= f.submit t(:save, :scope => :companies) %>
  </p>
  <% end %>
