<%
   account ||= nil
   ledger ||= Ledger.new
   @account ||= account
   @ledger ||= ledger
   @ledger.address ||= Address.new
%>

<%= form_for( @ledger, {:name => "new_ledger", :id => "ledger_form"} ) do |f| %>

<%= f.error_messages %>
<div id="ledger_form_div" style="float: left;">
  <h3><%= t(:ledger, :scope => :accounts) -%></h3>
  <%= f.hidden_field :account_id %>
  
  <p>
    <%= f.label :number, t(:number, :scope => :accounts) -%><br />
    <%= f.text_field :number, :class => 'dodo-validate-mandatory' %>
  </p>
    <%= f.label :name, t(:name, :scope => :accounts) -%><br />
    <%= f.text_field :name, :class => 'dodo-validate-mandatory'%>
  </p>
  <p>
    <%= f.label :id_number, t(:id_number, :scope => :accounts) -%><br />
    <%= f.text_field :id_number, :class => 'dodo-validate-mandatory' %>
  </p>
  <p>
    <%= f.label :date_of_birth, t(:date_of_birth, :scope => :accounts) -%><br />
    <%= f.text_field :date_of_birth, :class => 'dodo-validate-mandatory datepicker'  %>
  </p>
  <p>
    <%= f.label :telephone_number, t(:telephone_number, :scope => :accounts) -%><br />
    <%= f.text_field :telephone_number %>
  </p>
  <p>
    <%= f.label :mobile_number, t(:mobile_number, :scope => :accounts) -%><br />
    <%= f.text_field :mobile_number, :class => 'dodo-validate-mandatory'  %>
  </p>
  <p>
    <%= f.label :email, t(:email, :scope => :accounts) -%><br />
    <%= f.text_field :email, :class => 'dodo-validate-email dodo-validate-mandatory'  %>
  </p>
  <p>
    <%= f.label :salary_email, t(:salary_email, :scope => :accounts) -%><br/>
    <%= f.email_field :salary_email, :class => 'dodo-validate-email' %>
  </p>
  <p>
    <%= f.label :ledger_bank_number, t(:ledger_bank_number, :scope => :accounts) -%><br />
    <%= f.text_field :ledger_bank_number, :class => 'dodo-validate-mandatory'  %>
  </p>
  <p>
    <%= f.label :foreign_bank_number, t(:foreign_bank_number, :scope => :accounts) -%><br />
    <%= f.text_field :foreign_bank_number, :class => 'dodo-validate-mandatory'  %>
  </p>
  <p>
    <%= f.label :credit_days, t(:credit_days, :scope => :accounts) -%><br />
    <%= f.text_field :credit_days %>
  </p>

  <p>
    <%= f.label :procenttrekk, t(:procenttrekk, :scope => :accounts) -%><br />
    <%= f.number_field :procenttrekk, :class => 'dodo-validate-mandatory'  %>
  </p>
  <p>
    <%= f.label :tabelltrekk, t(:tabelltrekk, :scope => :accounts) -%><br />
    <%= f.number_field :tabelltrekk, :class => 'dodo-validate-mandatory'  %>
  </p>
  <p>
    <%= f.label :work_start, t(:work_start, :scope => :accounts) -%><br />
    <%= f.text_field :work_start, :class => :datepicker  %>
  </p>
  <p>
    <%= f.label :work_stop, t(:work_stop, :scope => :accounts) -%><br />
    <%= f.text_field :work_stop, :class => :datepicker  %>
  </p>

  <p> 
    <%= f.fields_for :county_ledgers do |county_ledger| %>
  
      <%= county_ledger.label "county", t(:county, :scope => :accounts) -%>
      <%= county_ledger.select :county_id, County.all.collect {|p| [p.name, p.id]} %> 
       
      <%= county_ledger.label :from %>
      <%= county_ledger.text_field :from, :class=> :datepicker %>        
    <% end %>  
  </p>  

  <p>
    <%= f.label :placement_top, t(:placement_top, :scope => :accounts) -%><br />
    <%= f.check_box :placement_top %>
  </p>
  <p>
    <%= f.label :unit_id, t(:unit, :scope => :accounts) -%><br />
    <%= f.select :unit_id, Unit.where(:company_id => current_user.current_company.id).map {|u| [u.name, u.id]}, {:include_blank => true} %>
  </p>
  <p>
    <%= f.label :project_id, t(:project, :scope => :accounts) -%><br />
    <%= f.select :project_id, Project.where(:company_id => current_user.current_company.id).map {|p| [p.name, p.id]}, {:include_blank => true} %>
    </p>
  <p>
    <%= f.label :debit_text, t(:debit_text, :scope => :accounts) -%><br />
    <%= f.text_field :debit_text %>
  </p>
  <p>
    <%= f.label :credit_text, t(:credit_text, :scope => :accounts) -%><br />
    <%= f.text_field :credit_text %>
  </p>
  <p>
    <%= f.label :comment, t(:comment, :scope => :accounts) -%><br />
    <%= f.text_area :comment %>
  </p>
</div>

<div id="addresses" style="float: left;">
  
  <h4><%= t(:address, :scope => :address) -%></h4>
  <%= render :partial => "addresses/nested_form", :locals => { :parent => f, :field_name => :address } %>
</div>

<div style="clear: both;" />

  <%= submit_tag t(:add_ledger, :scope => :accounts) %>

<% end %>
