<div id="ledgers">
  <% if @ledger.account.ledgers.size == 0 %>
    <%= javascript_tag "$(document).ready( function () { $('#ledgers').hide(); } );" %>
  <% end %>

  <hr style="clear: both;" />

  <h2><%= t(:ledger_accounts, :scope => :accounts) -%></h2>
  <table id="ledger_table">
    <tr>
      <th><%= t(:number, :scope => :accounts) -%></th>
      <th><%= t(:name, :scope => :accounts) -%></th>
      <th><%= t(:id_number, :scope => :accounts) -%></th>
      <th><%= t(:date_of_birth, :scope => :accounts) -%></th>
      <th><%= t(:telephone_number, :scope => :accounts) -%></th>
      <th><%= t(:mobile_number, :scope => :accounts) -%></th>
      <th><%= t(:email, :scope => :accounts) -%></th>
      <th><%= t(:salary_email, :scope => :accounts) -%></th>
      <th><%= t(:credit_days, :scope => :accounts) -%></th>
      <th><%= t(:procenttrekk, :scope => :accounts) -%></th>
      <th><%= t(:tabelltrekk, :scope => :accounts) -%></th>
<!--
      <th><%= t(:auto_payment, :scope => :accounts) -%></th>
-->
      <th><%= t(:placement_top, :scope => :accounts) -%></th>
      <th><%= t(:unit, :scope => :accounts) -%></th>
      <th><%= t(:project, :scope => :accounts) -%></th>
      <th><%= t(:work_start, :scope => :accounts) -%></th>
      <th><%= t(:work_stop, :scope => :accounts) -%></th>
    </tr>
    
    <% @ledger.account.ledgers.each do |ledger| %>
    <tr class="ledger_item" id="ledger_id_<%= ledger.id %>">
      <td><%= ledger.number -%></td>

      <td><%= ledger.name -%></td>
      <td><%= ledger.id_number -%></td>
      <td><%= ledger.date_of_birth -%></td>
      <td><%= ledger.telephone_number -%></td>
      <td><%= ledger.mobile_number -%></td>
      <td><%= ledger.email -%></td>
      <td><%= ledger.salary_email -%></td>
      <td><%= ledger.credit_days -%></td>
      <td><%= ledger.procenttrekk -%></td>
      <td><%= ledger.tabelltrekk -%></td>

      <td><%= ledger.placement_top -%></td>
      <td><%= ledger.unit ? ledger.unit.name : "" -%></td>
      <td><%= ledger.project ? ledger.project.name : "" -%></td>
      <td><%= ledger.work_start -%></td>
      <td><%= ledger.work_stop -%></td>
    </tr>
    <% end %>

  </table>
    <%= javascript_tag "$(document).ready( accounts.makeRowsClickable() );" %>

    <button type="button" onclick="accounts.prepareFormForNewLedger();"><%= t(:new_ledger, :scope => :accounts) -%></button>

    <% if @ledger.errors.any? %>
        <div id="error_explanation">
            <h2> <%= pluralize(@ledger.errors.count, "error") %> prohibited this ledger from being saved:</h2>
            <ul>
                <% @ledger.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

        <div id="ledger_form_wrapper">
          <%= render :partial => "ledger_form" %>
        </div>
    
</div>
