<%= form_for([:admin, @county_tax_zone]) do |f| %>
  <% if @county_tax_zone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@county_tax_zone.errors.count, "error") %> prohibited this county_tax_zone from being saved:</h2>

      <ul>
      <% @county_tax_zone.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :county_id %>
    <%= f.select :county_id, County.all.collect {|p| [p.name, p.id]}, :include_blank => " " %>     
  </div>
  <div class="field">
    <%= f.label :tax_zone_id %>
    <%= f.select :tax_zone_id, TaxZone.all.collect {|p| [p.number, p.id]}, :include_blank => " " %>     
  </div>
  <div class="field">
    <%= f.label :from %><br />
    <%= f.text_field :from, :class=> :datepicker %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
