<h1><%= t(:editing, :scope => :global) %> <%= t(:title_singular, :scope => :weekly_sales) %></h1>

<%= render 'form' %>

<%= link_to t(:show, :scope => :global), @weekly_sale %> |
<%= link_to t(:back, :scope => :global), weekly_sales_url %>

