<script>
  /*
  Use an object as a fake namespace. Spiffy.
  */
  var DODO = {
    carList: <%= raw(@cars_all.all.to_json) %>,
    unitList: <%= raw(@units_all.all.to_json) %>,
    projectList: <%= raw(@projects_all.all.to_json) %>,
    accountVatMapping: <%= raw(@account_vat_mapping.to_json) %>,
    accountList: <%= raw(@accounts_all.to_json) %>,
    hashedAccountList: <%= raw(@hashed_accounts_all.to_json) %>,
    vatAccountList: <%= raw(@vat_accounts_all.to_json) %>,
    journalOperationList: <%= raw(@journal.journal_operations.all.to_json) %>,
    readOnly: <%= @readonly?"true":"false" %>
  };

</script>

<%= form_for(@journal) do |f| %>
<%= f.error_messages %>

<p>
  <%= f.label :journal_type, t(:type, :scope => :journals) %><br />
  <%= @journal.journal_type %>
  <%= f.hidden_field :journal_type_id %>
</p>
<p>
  <%= f.label :number, t(:number, :scope => :journals) %><br />
  <%= if @readonly then
       @journal.number
      else 
       f.text_field :number 
      end %>

</p>
<p>
  <%= f.label :period_id, "Period" %><br />
  <%= if @readonly then
       @journal.period
     else 
       f.select :period_id, @me.open_periods.collect {|p| [ p, p.id ] } 
     end %>
</p>
<p>
  <%= f.label :journal_date, t(:journal_date, :scope => :journals) %><br />
  <%= if @readonly then
       @journal.journal_date
       f.hidden_field :journal_date
     else 
       f.text_field :journal_date, :class => :datepicker
     end %>  
</p>

<p>
  <%= f.label :due_date, t(:due_date, :scope => :journals) %><br />
  <%= if @readonly then
       @journal.due_date
       f.hidden_field :due_date
     else 
       f.text_field :due_date, :class => :datepicker
     end %>  
</p>

<p> 
  <%= f.label :kid, t(:kid, :scope => :journals) %><br />
  <%= if @readonly then
       @journal.kid
     else 
       f.text_field :kid 
     end 
  %>

</p>
<p>
  <%= f.label :bill_number, t(:bill_number, :scope => :bills) %><br />
  <%= if @readonly then
       @journal.bill_number
     else 
       f.text_field :bill_number 
     end 
  %>

</p>
<p>
  <%= f.label :description, t(:description, :scope => :global) %><br />
  <%= if @readonly then
       @journal.description
     else 
       f.text_field :description 
     end %>
</p>

<p>
<% if !@readonly %>
  <button onClick='journals.addAccountLine();' type='button'><%= t(:new_journal_operation, :scope => :journals) -%></button>
<% end %>

  <input type='checkbox' id='vat' onchange='journals.toggleVisibility();'/><label for='vat'><%= t(:vat, :scope => :journals) -%></label>
  <input type='checkbox' id='details' onchange='journals.toggleVisibility();'/><label for='details'><%= t(:details, :scope => :journals) -%></label>

</p>

<b><%= t('journals.defaults') %></b>
<p>
  <table id='defaults_table'>
    <tr>
      <th>
        <%= t('units.unit') %>
      </th>
      <th>
        <%= t('cars.car') %>
      </th>
      <th>
        <%= t('projects.project') %>
      </th>
    </tr>
    <tr>
        <td><%= f.select :default_unit, Unit.where(:company_id => current_user.current_company.id).map { |p| [p.name, p.id] } %>
        <td><%= f.select :default_car, Car.where(:company_id => current_user.current_company.id).map { |p| [p.name, p.id] } %>
        <td><%= f.select :default_project, Project.where(:company_id => current_user.current_company.id).map { |p| [p.name, p.id] } %>
    </tr>
  </table>
</p>

<p>
  <table class='striped' id='operations_table'>
    <thead>
      <tr>
	<th class='details' style='display:none'>
    <%= t(:details, :scope => :journals) %>
	</th>
	<th>
	  <%= t(:account, :scope => :journals) %>
	</th>
	<th>
	  <%= t(:debit, :scope => :journals) %>
	</th>
	<th>
	  <%= t(:credit, :scope => :journals) %>
	</th>
	<th>
	  <%= t(:balance, :scope => :journals) %>
	</th>
	<th>
	  <%= t(:in, :scope => :journals) %>
	</th>
	<th>
	  <%= t(:out, :scope => :journals) %>
	</th>
	<th>
	  <%= t(:amount, :scope => :global) %>
	</th>
	<th>
	  <%= t(:vat, :scope => :journals) %>
	</th>
	<th>
	  <%= t(:unit, :scope => :units) %>
	</th>
	<th>
	  <%= t(:car, :scope => :cars) %>
	</th>
	<th>
	  <%= t(:project, :scope => :projects) %>
	</th>
	<th>
	</th>
      </tr>
    </thead>
    <tbody id='operations'>
    </tbody>
    <tfoot>
      <tr>
	<td></td>
	<td id='dynfield_1_sum'>0,00</td>
	<td id='dynfield_2_sum'>0,00</td>
	<td colspan='8'></td>
      </tr>
      <tr>
	<td></td>
	<td id='dynfield_diff'>0,00</td>
	<td colspan='9'></td>
      </tr>
    </tfoot>
  </table>

</p>
<p>
  <%= if !@readonly then f.submit t(:save, :scope => :global) end %>
</p>
<script>
journals.addPredefined();
</script>
<% end %>
