<%= form_for @period do |f| %>
  <tr>
    <%= f.fields_for :vat_account do |vf| %>
      <td><%= vf.text_field (sales ? :sales_code : :purchase_code), :size => 2 %></td>
    <% end %>

    <td align="right"><%= f.text_field :percentage, :size => 4 %></td>
    <td>%</td>

    <%= f.fields_for :vat_account do |vf| %>
      <% if sales %>
        <td><%= @period.vat_account.target_sales_account.number %> -  <%= @period.vat_account.target_sales_account.name %></td>
      <% else %>
        <td><%= @period.vat_account.target_purchase_account.nil? ? 'Fisk.' : @period.vat_account.target_purchase_account.number.to_s + ' - ' + @period.vat_account.target_purchase_account.name %></td>
      <% end %>
      <td><%= vf.check_box :overridable %></td>
    <% end %>

    <td><%= f.text_field :valid_from, :class => :datepicker %></td>
    <td><%= f.submit t('global.save') %>
    <td>
      <%= link_to t("global.show"), @period.vat_account %>
      <%= link_to t("global.edit"), edit_vat_account_path(@period.vat_account) %>
      <%= link_to t("global.destroy"), @period.vat_account, :confirm => t(:confirm_destroy, :scope => :vat, :code => @period.vat_account.id), :method => :delete %>
    </td>
  </tr>
<% end %>
