<%= form_for @period do |f| %>
  <tr>
    <td><%= sales ? @period.vat_account.sales_code : @period.vat_account.purchase_code %></td>

    <td align="right"><%= @period.percentage %></td>
    <td>%</td>

    <% if sales %>
      <td><%= @period.vat_account.target_sales_account.number %> -  <%= @period.vat_account.target_sales_account.name %></td>
    <% else %>
      <td><%= @period.vat_account.target_purchase_account.nil? ? t('global.null') : @period.vat_account.target_purchase_account.number.to_s + ' - ' + @period.vat_account.target_purchase_account.name %></td>
    <% end %>

    <td><%= @period.vat_account.overridable ? t('vat.override_yes') : t('vat.override_no') %></td>
    <td><%= @period.valid_from %></td>
    <td></td>
    <td></td>
  </tr>
<% end %>
