<h1><%= t(:listing_vat_accounts, :scope => :vat) -%></h1>

<% tempdate = '2969-01-01' %>

<table class='striped'>
  <tr>
    <th><%= t('vat.code') -%></th>
    <th><%= t('vat.percentage') -%></th>
    <th></th>
    <th><%= t('vat.account') -%></th>
    <th><%= t('vat.overridable') -%></th>
    <th><%= t('vat.valid_from') -%></th>
    <th></th>
    <th></th>
  </tr>

  <% for @period in @me.current_company.get_current_vat_account_periods(tempdate) %>
    <%= render :partial => 'period_line', :locals => {:sales => true } %>
  <% end %>
  <% for @period in @me.current_company.get_current_vat_account_periods(tempdate) %>
    <%= render :partial => 'period_line', :locals => {:sales => false } %>
  <% end %>

  <tr>
    <th colspan="999" style="text-align:center"><%= t('vat.non_current_header') %></th>
  </tr>

  <% for @period in @me.current_company.get_noncurrent_vat_account_periods(tempdate) %>
    <%= render :partial => 'period_line_static', :locals => {:sales => true } %>
  <% end %>
  <% for @period in @me.current_company.get_noncurrent_vat_account_periods(tempdate) %>
    <%= render :partial => 'period_line_static', :locals => {:sales => false } %>
  <% end %>
</table>

<br />

<%= link_to t(:new_vat_account, :scope => :vat), new_vat_account_path %>
