<%= form_for(@weekly_sale_setup) do |f| %>
  <% if @weekly_sale_setup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@weekly_sale_setup.errors.count, "error") %> prohibited this weekly_sale_setup from being saved:</h2>

      <ul>
      <% @weekly_sale_setup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div id="top_weekly_sale_setup" style="width:100%; background-color:#bed6ea; color:grey;">
    <table style="width:100%; border:none;">
      <thead>
        <tr style="border:none;">
          <td style="border:none; background-color:#bed6ea; color:grey; font-weight:900;"><%= t(:unit, :scope => :weekly_sale_setups) %></td>
          <td style="border:none; background-color:#bed6ea; color:grey; font-weight:900;"><%= t(:name, :scope => :weekly_sale_setups) %></td>
          <td style="border:none; background-color:#bed6ea; color:grey; font-weight:900;"><%= t(:voucher_type, :scope => :weekly_sale_setups) %></td>    
        </tr>
        <tr style="border:none;">
          <td style="border:none;"><%= f.select :unit_id, @units.map {|u| [ u.name, u.id ] } %></td>
          <td style="border:none;"><%= f.text_field :name, :maxlength=>100,:size=>40 %></td>
          <td style="border:none;"><%= f.text_field :voucher_type, :maxlength=>3 %></td>
        </tr>
        <tr>
          <td style="border:none; background-color:#bed6ea; color:grey; font-weight:900;"><%= t(:permanent_cash, :scope => :weekly_sale_setups) %></td>
          <td style="border:none; background-color:#bed6ea; color:grey; font-weight:900;"><%= t(:cash_account, :scope => :weekly_sale_setups) %></td>
          <td style="border:none; background-color:#bed6ea; color:grey; font-weight:900;"><%= t(:locked, :scope => :weekly_sale_setups) %></td>
        </tr>
        <tr>    
          <td style="border:none;"><%= f.text_field :permanent_cash %></td>
          <td style="border:none;"><%= f.select :cash_account_id, @accounts.map {|a| [ a.description, a.id ] } %></td>
          <td style="border:none;"><%= f.check_box :locked %></td>
        </tr>
        <tr>
          <td style="border:none; background-color:#bed6ea; color:grey; font-weight:900;"><%= t(:valid_from, :scope => :weekly_sale_setups) %></td>
          <td style="border:none; background-color:#bed6ea; color:grey; font-weight:900;"><%= t(:valid_to, :scope => :weekly_sale_setups) %></td>
        </tr>
        <tr>    
          <td style="border:none;"><%= f.date_select :valid_from %></td>
          <td style="border:none;"><%= f.date_select :valid_to %></td>
        </tr>
        <tr> 
          <td style="background-color:#bed6ea; color:grey"><%= button_to_function t(:add_product_group, :scope => :weekly_sale_setups), remote_function(:url => { :action => :add_product_group}) %></td>
          <td style="background-color:#bed6ea; color:grey"><%= button_to_function t(:add_liquid, :scope => :weekly_sale_setups), remote_function(:url => { :action => :add_liquid}) %></td>                                        
        </tr>        
      </thead>
    </table>
  </div>  

  <% if @weekly_sale_setup.weekly_sale_setup_product_groups.any? %>
    <div id="product_groups">
  <% else %>
    <div id="product_groups" style="display: none">
  <% end %>
    <table>          
      <thead>
        <tr><h2>Product Groups</h2></tr>
        <tr> 
        <td><b><small><%= t(:name, :scope => :weekly_sale_setup_product_groups) %></small></b></td>     
        <td><b><small><%= t(:display_order, :scope => :weekly_sale_setup_product_groups) %></small></b></td>
        <td><b><small><%= t(:project, :scope => :weekly_sale_setup_product_groups) %></small></b></td>
        <td><b><small><%= t(:account, :scope => :weekly_sale_setup_product_groups) %></small></b></td>
        </tr>
      </thead>
      <tbody id="rows_weekly_sale_setup_product_groups">
        <% @weekly_sale_setup.weekly_sale_setup_product_groups.each do |product_group| %>
          <%= render :partial=>"product_group", :locals=>{:product_group_id=>product_group.id} %>
        <% end %>
      </tbody>
    </table>
  </div>
  <% if @weekly_sale_setup.weekly_sale_setup_liquids.any? %>
    <div id="liquids">
  <% else %>
    <div id="liquids" style="display: none">
  <% end %>
    <table>          
      <thead>            
        <tr><h2>Liquid Accounts</h2></tr>
        <tr> 
        <td><small><b><%= t(:name, :scope => :weekly_sale_setup_product_groups) %></small></b></td>     
        <td><small><b><%= t(:display_order, :scope => :weekly_sale_setup_product_groups) %></small></b></td>            
        <td><small><b><%= t(:account, :scope => :weekly_sale_setup_product_groups) %></small></b></td>
        </tr>
      </thead>
      <tbody id="rows_weekly_sale_setup_liquids">
        <% @weekly_sale_setup.weekly_sale_setup_liquids.each do |liquid| %>
          <%= render :partial=>"liquid", :locals=>{:liquid_id=>liquid.id} %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="actions">
    <%= f.submit t(:save, :scope => :global) %>
  </div>
<% end %>
