<p id="notice"><%= notice %></p>

<p>
  <b><%= t(:unit, :scope => :weekly_sale_setups) -%>:</b>
  <%= @weekly_sale_setup.unit.name %>
</p>

<p>
  <b><%= t(:name, :scope => :weekly_sale_setups) -%>:</b>
  <%= @weekly_sale_setup.name %>
</p>

<p>
  <b><%= t(:voucher_type, :scope => :weekly_sale_setups) -%>:</b>
  <%= @weekly_sale_setup.voucher_type %>
</p>

<p>
  <b><%= t(:permanent_cash, :scope => :weekly_sale_setups) -%>:</b>
  <%= number_to_currency(@weekly_sale_setup.permanent_cash, :locale =>I18n.locale, :precision => 2) %>
</p>

<p>
  <b><%= t(:cash_account, :scope => :weekly_sale_setups) -%>:</b>
  <%= @weekly_sale_setup.cash_account.description %>
</p>

<p>
  <b><%= t(:locked, :scope => :weekly_sale_setups) -%>:</b>
  <%= @weekly_sale_setup.locked %>
</p>


<%= link_to t(:edit, :scope => :global), edit_weekly_sale_setup_path(@weekly_sale_setup) %> |
<%= link_to 'Back', {:controller=>'weekly_sales', :action=>'index'} %>
