<div id="top_weekly_sale_setup" class="form">
  <table style="width:100%; border:none;">
    <thead>
      <tr style="border:none;">
        <td style="border:none; background-color:#bed6ea; color:grey; font-weight:900;"><%= t(:unit, :scope => :weekly_sale_setups) %></td>
        <td style="border:none; background-color:#bed6ea; color:grey; font-weight:900;"><%= t(:name, :scope => :weekly_sale_setups) %></td>
        <td style="border:none; background-color:#bed6ea; color:grey; font-weight:900;"><%= t(:journal_type, :scope => :weekly_sale_setups) %></td>    
      </tr>
      <tr style="border:none;">
        <td style="border:none;"><%= @weekly_sale_setup.unit %></td>
        <td style="border:none;"><%= @weekly_sale_setup.name %></td>
        <td style="border:none;"><%= @weekly_sale_setup.journal_type %></td>
      </tr>
      <tr>
        <td style="border:none; background-color:#bed6ea; color:grey; font-weight:900;"><%= t(:permanent_cash, :scope => :weekly_sale_setups) %></td>
        <td style="border:none; background-color:#bed6ea; color:grey; font-weight:900;"><%= t(:cash_account, :scope => :weekly_sale_setups) %></td>
        <td style="border:none; background-color:#bed6ea; color:grey; font-weight:900;"><%= t(:locked, :scope => :weekly_sale_setups) %></td>
      </tr>
      <tr>    
        <td style="border:none;"><%= @weekly_sale_setup.permanent_cash %></td>
        <td style="border:none;"><%= @weekly_sale_setup.cash_account %></td>
        <td style="border:none;"><%= @weekly_sale_setup.locked %></td>
      </tr>
      <tr>
        <td style="border:none; background-color:#bed6ea; color:grey; font-weight:900;"><%= t(:valid_from, :scope => :weekly_sale_setups) %></td>
        <td style="border:none; background-color:#bed6ea; color:grey; font-weight:900;"><%= t(:valid_to, :scope => :weekly_sale_setups) %></td>
      </tr>
      <tr>    
        <td style="border:none;"><%= @weekly_sale_setup.valid_from %></td>
        <td style="border:none;"><%= @weekly_sale_setup.valid_to %></td>
      </tr>
    </thead>
  </table>
</div>  

<div id="product_groups">
  <table>          
    <thead>
      <tr><h2>Product Groups</h2></tr>
      <tr> 
      <td><b><small><%= t(:name, :scope => :weekly_sale_setup_product_groups) %></small></b></td>     
      <td><b><small><%= t(:display_order, :scope => :weekly_sale_setup_product_groups) %></small></b></td>
      <td><b><small><%= t(:project, :scope => :weekly_sale_setup_product_groups) %></small></b></td>
      <td><b><small><%= t(:account, :scope => :weekly_sale_setup_product_groups) %></small></b></td>
      </tr>
    </thead>
    <tbody id="rows_weekly_sale_setup_product_groups">
      <% @weekly_sale_setup.weekly_sale_setup_product_groups.each do |product_group| %>
        <%= render :partial=>"show_product_group", :locals=>{:id=>product_group.id} %>
      <% end %>
    </tbody>
  </table>
</div>

<div id="liquids">
  <table>          
    <thead>            
      <tr><h2>Liquid Accounts</h2></tr>
      <tr> 
      <td><small><b><%= t(:name, :scope => :weekly_sale_setup_product_groups) %></small></b></td>     
      <td><small><b><%= t(:display_order, :scope => :weekly_sale_setup_product_groups) %></small></b></td>            
      <td><small><b><%= t(:account, :scope => :weekly_sale_setup_product_groups) %></small></b></td>
      </tr>
    </thead>
    <tbody id="rows_weekly_sale_setup_liquids">
      <% @weekly_sale_setup.weekly_sale_setup_liquids.each do |liquid| %>
        <%= render :partial=>"show_liquid", :locals=>{:id=>liquid.id} %>
      <% end %>
    </tbody>
  </table>
</div>
<%= link_to t(:edit, :scope => :global), edit_weekly_sale_setup_path(@weekly_sale_setup) if permitted_to? :edit, @weekly_sale_setup %> |
<%= link_to t(:back, :scope => :global), weekly_sales_path %>
