<h1><%= t('units.header_index')%></h1>

<table>
  <tr>
    <th><%= t('units.name') %></th>
    <th><%= t('units.address') %></th>
    <th><%= t('global.valid_for') %></th>
    <th><%= t('units.comments') %></th>
    <th></th>
  </tr>

<% @units.each do |unit| %>
  <tr>
    <td><%= unit.name %></td>
    <td><%= render :partial => "/addresses/show", :locals => { :address => unit.address }  %></td>
    <td><%= unit.from || t('global.unknown_date') %> - <%= unit.to || t('global.unknown_date') %></td>
    <td><%= unit.comments %></td>
    <td>
      <%= link_to t("global.show"), unit %>
      <% if permitted_to? :edit, unit %>
      <%= link_to t("global.edit"), edit_unit_path(unit) %>
      <% end %>
      <% if permitted_to? :delete, unit %>
      <%= link_to t("global.destroy"), unit, :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<% if permitted_to? :create, :units %>
  <%= link_to t('units.new'), new_unit_path %>
<% end %>
