<p>
  <b><%= t('global.name') %>:</b>
  <%= @unit.name %>
</p>

<p>
  <b><%= t('address.address') %>:</b>
  <%= render :partial => "/addresses/show", :locals => { :address => @unit.address }  %>
</p>

<p>
  <b><%= t('global.valid_for') %>:</b>
  <%= @unit.from || t('global.unknown_date') %> - <%= @unit.to || t('global.unknown_date') %>
</p>

<p>
  <b><%= t('global.comments') %>:</b>
  <%= @unit.comments %>
</p>

<% if permitted_to? :edit, @unit %>
  <%= link_to t('global.edit'), edit_unit_path(@unit) %> |
<% end %>
<%= link_to t('global.back'), units_path %>
