<p>
  <b><%= t('cars.name') %>:</b>
  <%= @car.name %>
</p>

<p>
  <b><%= t('cars.car_type') %>:</b>
  <%= @car.car_type %>
</p>

<p>
  <b><%= t('global.valid_for') %>:</b>
  <%= @car.from %> - <%= @car.to %>
</p>

<p>
  <b><%= t('global.comments') %>:</b>
  <%= @car.comments %>
</p>

<%= render :partial => "/travel_logs/index", :locals => { :travel_logs => @car.travel_logs, :readonly => @readonly }  %>


<% if permitted_to? :edit, @car %>
  <%= link_to t('global.edit'), edit_car_path(@car) %> |
<% end %>
<%= link_to t('global.back'), cars_path %>
