<h1>Editing county</h1>

<%= form_for([:admin,@county]) do |f| %>
 <div class="field">
   <p>      
      <%= @county.name %>   
   </p>
   </div>
<% end %>


<%= link_to 'Show', [:admin, @county] %> |
<%= link_to 'Back', admin_counties_path %>


<%= link_to 'Back', admin_counties_path %>


