<h1><%= t(:editing, :scope => :global) %> <%= t(:title_singular, :scope => :weekly_sale_setup_liquids) %></h1>

<%= render 'form' %>

<%= link_to t(:show, :scope => :global), @weekly_sale_setup_liquid %> 
<%= link_to t(:back, :scope => :global), weekly_sale_setup_liquids_path %>
