<p id="notice"><%= notice %></p>

<p>
  <b><%= t(:name, :scope => :weekly_sale_setup_liquids) -%>:</b>
  <%= @weekly_sale_setup_liquid.name %>
</p>

<p>
  <b><%= t(:account, :scope => :weekly_sale_setup_liquids) -%>:</b>
  <%= @weekly_sale_setup_liquid.account_id %>
</p>

<p>
  <b><%= t(:weekly_sale_setup, :scope => :weekly_sale_setup_liquids) -%>:</b>
  <%= @weekly_sale_setup_liquid.weekly_sale_setup_id %>
</p>


<%= link_to t(:edit, :scope => :global), edit_weekly_sale_setup_liquid_path(@weekly_sale_setup_liquid) %> |
<%= link_to t(:back, :scope => :global), weekly_sale_setup_liquids_path %>
