<b><%= t('travel_logs.header_index') %>:</b><br />

<table>
  <tr>
    <th>Odometer</th>
    <th>Date</th>
    <%= if !@readonly then raw('<th></th>') end %>
  </tr>

<% travel_logs.each do |travel_log| %>
  <tr>
    <td><%= travel_log.odometer %></td>
    <td><%= travel_log.date %></td>
    <% if !@readonly %>
      <td><%= link_to 'Destroy', travel_log, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>

<% if !@readonly %>
  <tr>
    <% form_for(TravelLog.new :car => @car) do |f| %>
      <td><%= f.text_field :odometer %></td>
      <%= f.hidden_field :car_id %>
      <td><%= f.text_field :date, :class => :datepicker %></td>
      <td><%= f.submit t('travel_logs.new') %></td>
    <% end %>
  </tr>
<% end %>
</table>
