
<tr id="ledger_account_selector">
  <td class="report_title" rowspan="4">
    <%= t(:"#{@report_title}", :scope=>:reports) %>
  </td>
  <td class="title">
    <%= t(:ledger_by_account_number, :scope=>:reports) %>
  </td>
  <td>
    <%= select_tag :ledger_account,
        options_from_collection_for_select(@ledger_accounts, "id", "to_s", @selected_ledger_account.id),
        {:onchange => '$(\'#loading_img\').show(); $(\'.ledger_account\').val(this.value);',:class => "ledger_account"}%>
  </td>
  <td class="title">
    <%= t(:ledger_from, :scope=>:reports) %>
  </td>
  <td>
    <%= select_tag :ledger_from_id,
      options_from_collection_for_select(@subsidiary_ledger_accounts, "id", "to_s"),
      {:include_blank => true,:class => "ledger_from"} %>
  </td>
  <td class="title">
    <%= t(:ledger_to, :scope=>:reports) %>
  </td>
  <td>
    <%= select_tag :ledger_to_id,
      options_from_collection_for_select(@subsidiary_ledger_accounts, "id", "to_s"),
      {:include_blank => true,:class => "ledger_to"} %>
  </td>
</tr>