<p><h1><%= current_user.current_company.to_s %> - <%= current_user.to_s %> (<%= Date.today %>)</h1></p>
<% unless @unit.blank?%>
  <p><h2><%= t(:unit, :scope=>:reports) %>: <%= @unit %></h2></p>
<% end %>
<% unless @project.blank?%>
  <p><h2><%= t(:project, :scope=>:reports) %>: <%= @project %></h2></p>
<% end %>
<% unless @car.blank?%>
  <p><h2><%= t(:car, :scope=>:reports) %>: <%= @car %></h2></p>
<% end %>
<% unless @journal_type.blank?%>
  <p><h2><%= t(:journal_type, :scope=>:reports) %>: <%= @journal_type %></h2></p>
<% end %>
<% unless @journal_type.blank?%>
  <p><h2><%= t(:journal_type, :scope=>:reports) %>: <%= @journal_type %></h2></p>
<% end %>

 <% @journal_operations.each do |jo|%>

   <%= jo %>
<br></br>
<% end %>
<%=@journal_operations.count%>