<h1>
  <%= t(:title_plural, :scope=>:reports) %>
</h1>

<div class="reports">
  <div class="title">
    <%= t(:ledger, :scope=>:reports) %>
  </div>

  <table>
    <%= form_tag ledger_balance_reports_path, :method=>:get do %>
      <tbody class="even">
        <tr>
          <td class="report_title" rowspan="4">
            <%= t(:balance, :scope=>:reports) %>
          </td>
          <td class="title">
            <%= t(:from_period, :scope=>:reports) %>
          </td>
          <td>
            <%= select_tag :from_period_id,
              options_from_collection_for_select(@periods, "id", "to_s"),
              :include_blank => true %>
          </td>
          <td class="title">
            <%= t(:to_period, :scope=>:reports) %>
          </td>
          <td>
            <%= select_tag :to_period_id,
              options_from_collection_for_select(@periods, "id", "to_s"),
              :include_blank => true %>
          </td>
          <td class="title">
            <%= t(:result_from_period, :scope=>:reports) %>
          </td>
          <td>
            <%= select_tag :result_from_period_id,
              options_from_collection_for_select(@periods, "id", "to_s"),
              :include_blank => true %>
          </td>
        </tr>
        <tr>
          <td class="title">
            <%= t(:unit, :scope=>:reports) %>
          </td>
          <td>
            <%= select_tag :unit_id,
              options_from_collection_for_select(@units, "id", "to_s"),
              :include_blank => true %>
          </td>
          <td class="title">
            <%= t(:project, :scope=>:reports) %>
          </td>
          <td>
            <%= select_tag :project_id,
              options_from_collection_for_select(@projects, "id", "to_s"),
              :include_blank => true %>
          </td>
          <td class="title">
            <%= t(:car, :scope=>:reports) %>
          </td>
          <td>
            <%= select_tag :car_id,
              options_from_collection_for_select(@cars, "id", "to_s"),
              :include_blank => true %>
          </td>
        </tr>
        <tr>
          <td class="title">
            <%= t(:show_only_active_accounts, :scope=>:reports) %>
          </td>
          <td>
            <%= check_box_tag :show_only_active_accounts %>
          </td>
          <td class="title">
            <%= t(:last_year_figures, :scope=>:reports) %>
          </td>
          <td>
            <%= check_box_tag :last_year_figures %>
          </td>
          <td class="title">
            <%= t(:journal_type, :scope=>:reports) %>
          </td>
          <td>
            <%= select_tag :journal_type_id,
              options_from_collection_for_select(@journal_types, "id", "to_s"),
              :include_blank => true %>
          </td>
        </tr>
        <tr>
          <td colspan="6" class="submit">
            <%= submit_tag t(:run_report, :scope=>:reports) %>
          </td>
        </tr>
      </tbody>
    <% end %>
    <%= form_tag ledger_journal_reports_path, :method=>:get do %>
      <tbody class="odd">
        <tr>
          <td class="report_title" rowspan="4">
            <%= t(:journal, :scope=>:reports) %>
          </td>
          <td class="title">
            <%= t(:from_account, :scope=>:reports) %>
          </td>
          <td>
            <%= select_tag :from_account_number,
              options_from_collection_for_select(@accounts, "number", "to_s"),
              :include_blank => true %>
          </td>
          <td class="title">
            <%= t(:to_account, :scope=>:reports) %>
          </td>
          <td>
            <%= select_tag :to_account_number,
              options_from_collection_for_select(@accounts, "number", "to_s"),
              :include_blank => true %>
          </td>
          <td class="title">
            <%= t(:journal_type, :scope=>:reports) %>
          </td>
          <td>
            <%= select_tag :journal_type_id,
              options_from_collection_for_select(@journal_types, "id", "to_s"),
              :include_blank => true %>
          </td>
        </tr>
        <tr>
          <td class="title">
            <%= t(:from_period, :scope=>:reports) %>
          </td>
          <td>
            <%= select_tag :from_period_id,
              options_from_collection_for_select(@periods, "id", "to_s"),
              :include_blank => true %>
          </td>
          <td class="title">
            <%= t(:to_period, :scope=>:reports) %>
          </td>
          <td>
            <%= select_tag :to_period_id,
              options_from_collection_for_select(@periods, "id", "to_s"),
              :include_blank => true %>
          </td>
          <td class="title">
            <%= t(:result_from_period, :scope=>:reports) %>
          </td>
          <td>
            <%= select_tag :result_from_period_id,
              options_from_collection_for_select(@periods, "id", "to_s"),
              :include_blank => true %>
          </td>
        </tr>
        <tr>
          <td class="title">
            <%= t(:unit, :scope=>:reports) %>
          </td>
          <td>
            <%= select_tag :unit_id,
              options_from_collection_for_select(@units, "id", "to_s"),
              :include_blank => true %>
          </td>
          <td class="title">
            <%= t(:project, :scope=>:reports) %>
          </td>
          <td>
            <%= select_tag :project_id,
              options_from_collection_for_select(@projects, "id", "to_s"),
              :include_blank => true %>
          </td>
          <td class="title">
            <%= t(:car, :scope=>:reports) %>
          </td>
          <td>
            <%= select_tag :car_id,
              options_from_collection_for_select(@cars, "id", "to_s"),
              :include_blank => true %>
          </td>
        </tr>
        <tr>
          <td colspan="6" class="submit">
            <%= submit_tag t(:run_report, :scope=>:reports) %>
          </td>
        </tr>
      </tbody>
    <% end %>
  </table>

  <div class="title">
    <%= t(:subsidiary_ledger, :scope=>:reports) %>
  </div>
  <table>
    <%= form_tag subsidiary_ledger_balance_reports_path, :method=>:get do %>
      <tbody class="even">
        <%=  render 'ledger_accounts_selector' %>
        <tr>
          <td class="title">
            <%= t(:from_period, :scope=>:reports) %>
          </td>
          <td>
            <%= select_tag :from_period_id,
              options_from_collection_for_select(@periods, "id", "to_s"),
              :include_blank => true %>
          </td>
          <td class="title">
            <%= t(:to_period, :scope=>:reports) %>
          </td>
          <td>
            <%= select_tag :to_period_id,
              options_from_collection_for_select(@periods, "id", "to_s"),
              :include_blank => true %>
          </td>
          <td class="title">
            <%= t(:result_from_period, :scope=>:reports) %>
          </td>
          <td>
            <%= select_tag :result_from_period_id,
              options_from_collection_for_select(@periods, "id", "to_s"),
              :include_blank => true %>
          </td>
        </tr>
        <tr>
          <td class="title">
            <%= t(:show_only_active_accounts, :scope=>:reports) %>
          </td>
          <td>
            <%= check_box_tag :show_only_active_accounts %>
          </td>
          <td colspan="4">
          </td>
        </tr>
        <tr>
          <td colspan="5">
          </td>
          <td class="submit">
            <%= submit_tag t(:run_report, :scope=>:reports) %>
          </td>
        </tr>
      </tbody>
    <% end %>
    <%= form_tag subsidiary_ledger_journal_reports_path, :method=>:get do %>
      <tbody class="odd">
        <%=  render 'ledger_accounts_selector' %> 
        <tr>
          <td class="title">
            <%= t(:from_period, :scope=>:reports) %>
          </td>
          <td>
            <%= select_tag :from_period_id,
              options_from_collection_for_select(@periods, "id", "to_s"),
              :include_blank => true %>
          </td>
          <td class="title">
            <%= t(:to_period, :scope=>:reports) %>
          </td>
          <td>
            <%= select_tag :to_period_id,
              options_from_collection_for_select(@periods, "id", "to_s"),
              :include_blank => true %>
          </td>
          <td class="title">
            <%= t(:journal_type, :scope=>:reports) %>
          </td>
          <td>
            <%= select_tag :journal_type_id,
              options_from_collection_for_select(@journal_types, "id", "to_s"),
              :include_blank => true %>
          </td>
        </tr>
        <tr>
          <td class="title">
            <%= t(:unit, :scope=>:reports) %>
          </td>
          <td>
            <%= select_tag :unit_id,
              options_from_collection_for_select(@units, "id", "to_s"),
              :include_blank => true %>
          </td>
          <td class="title">
            <%= t(:project, :scope=>:reports) %>
          </td>
          <td>
            <%= select_tag :project_id,
              options_from_collection_for_select(@projects, "id", "to_s"),
              :include_blank => true %>
          </td>
          <td colspan="2">
          </td>
        </tr>
        <tr>
          <td colspan="5">
          </td>
          <td class="submit">
            <%= submit_tag t(:run_report, :scope=>:reports) %>
          </td>
        </tr>
      </tbody>
    <% end %>
    <%= form_tag ledger_open_reports_path, :method=>:get do %>
      <tbody class="even">
        <%=  render 'ledger_accounts_selector' %>
        <tr>
          <td class="title">
            <%= t(:unit, :scope=>:reports) %>
          </td>
          <td>
            <%= select_tag :unit_id,
              options_from_collection_for_select(@units, "id", "to_s"),
              :include_blank => true %>
          </td>
          <td class="title">
            <%= t(:project, :scope=>:reports) %>
          </td>
          <td>
            <%= select_tag :project_id,
              options_from_collection_for_select(@projects, "id", "to_s"),
              :include_blank => true %>
          </td>
          <td colspan="2">
          </td>
        </tr>
        <tr>
          <td colspan="5">
          </td>
          <td class="submit">
            <%= submit_tag t(:run_report, :scope=>:reports) %>
          </td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>

