<p><h1><%= current_user.current_company.to_s %> - <%= current_user.to_s %> (<%= Date.today %>)</h1></p>
<p><h1><%= t(:ledger_balance_period, :scope=>:reports) %><%= title_to_periods_range({:from_period=>@first_period_to_balance, :to_period=>@last_period_to_balance}) %>. Results period <%= title_to_periods_range({:from_period=>@first_period_to_result, :to_period=>@last_period_to_result})%></h1></p>
<% unless @unit.blank?%>
  <p><h2><%= t(:unit, :scope=>:reports) %>: <%= @unit %></h2></p>
<% end %>
<% unless @project.blank?%>
  <p><h2><%= t(:project, :scope=>:reports) %>: <%= @project %></h2></p>
<% end %>
<% unless @car.blank?%>
  <p><h2><%= t(:car, :scope=>:reports) %>: <%= @car %></h2></p>
<% end %>
<% unless @journal_type.blank?%>
  <p><h2><%= t(:journal_type, :scope=>:reports) %>: <%= @journal_type %></h2></p>
<% end %>

<table class="report">
  <thead>
    <tr>
      <th colspan="<%= @show_last_period ? '8' : '5' %>"><%= t(:balance, :scope=>:reports) %></th>
    </tr>
    <tr>
      <th colspan="2"></th>
      <th style="text-align:center" colspan="3"><%= title_to_periods_range({:from_period=>@first_period_to_balance, :to_period=>@last_period_to_balance}) %></th>
    <% if @show_last_period %>
      <th style="text-align:center" colspan="3"><%= title_to_periods_range({:from_period=>@first_period_to_balance_last, :to_period=>@last_period_to_balance_last}) %></th>
    <% end %>
    </tr>
    <tr>
      <th><%= t(:account_number, :scope=>:reports) %></th>
      <th><%= t(:account_name, :scope=>:reports) %></th>
      <th><%= t(:old_balance, :scope=>:reports) %></th>
      <th><%= t(:period, :scope=>:reports) %></th>
      <th><%= t(:new_balance, :scope=>:reports) %></th>
    <% if @show_last_period %>
      <th><%= t(:old_balance, :scope=>:reports) %></th>
      <th><%= t(:period, :scope=>:reports) %></th>
      <th><%= t(:new_balance, :scope=>:reports) %></th>
    <% end %>
    </tr>
  </thead>
  <tbody>
  <% @balance.each do |row| %>
    <tr class="detail1">
      <td> <%= row.account_number %> </td>
      <td> <%= row.account_name %> </td>
      <td style="text-align:right"> <%= number_with_precision(row.total_period_previous, :locale =>I18n.locale) %> </td>
      <td style="text-align:right"> <%= number_with_precision(row.total_period, :locale =>I18n.locale) %> </td>
      <td style="text-align:right"> <%= number_with_precision(row.balance_period, :locale =>I18n.locale) %> </td>
    <% if @show_last_period %>
      <td style="text-align:right"> <%= number_with_precision(row.total_last_period_previous, :locale =>I18n.locale) %> </td>
      <td style="text-align:right"> <%= number_with_precision(row.total_last_period, :locale =>I18n.locale) %> </td>
      <td style="text-align:right"> <%= number_with_precision(row.balance_last_period, :locale =>I18n.locale) %> </td>
    <% end %>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2"></td>
      <td style="text-align:right"><%= number_with_precision(@total_balance["total_period_previous"], :locale=>I18n.locale) %></td>
      <td style="text-align:right"><%= number_with_precision(@total_balance["total_period"], :locale=>I18n.locale) %></td>
      <td style="text-align:right"><%= number_with_precision(@total_balance["total_balance_period"], :locale=>I18n.locale) %></td>
    <% if @show_last_period %>
      <td style="text-align:right"><%= number_with_precision(@total_balance["total_last_period_previous"], :locale=>I18n.locale) %></td>
      <td style="text-align:right"><%= number_with_precision(@total_balance["total_last_period"], :locale=>I18n.locale) %></td>
      <td style="text-align:right"><%= number_with_precision(@total_balance["total_balance_last_period"], :locale=>I18n.locale) %></td>
    <% end %>
    </tr>
  </tfoot>
</table>

<table class="report">
  <thead>
    <tr>
      <th colspan="<%= @show_last_period ? '8' : '5' %>"><%= t(:result, :scope=>:reports) %></th>
    </tr>
    <tr>
      <th colspan="2"></th>
      <th style="text-align:center" colspan="3"><%= title_to_periods_range({:from_period=>@first_period_to_result, :to_period=>@last_period_to_result}) %></th>
    <% if @show_last_period %>
      <th style="text-align:center" colspan="3"><%= title_to_periods_range({:from_period=>@first_period_to_result_last, :to_period=>@last_period_to_result_last}) %></th>
    <% end %>
    </tr>
    <tr>
      <th><%= t(:account_name, :scope=>:reports) %></th>
      <th><%= t(:account_number, :scope=>:reports) %></th>
      <th><%= t(:old_balance, :scope=>:reports) %></th>
      <th><%= t(:period, :scope=>:reports) %></th>
      <th><%= t(:new_balance, :scope=>:reports) %></th>
    <% if @show_last_period %>
      <th><%= t(:old_balance, :scope=>:reports) %></th>
      <th><%= t(:period, :scope=>:reports) %></th>
      <th><%= t(:new_balance, :scope=>:reports) %></th>
    <% end %>
    </tr>
  </thead>
  <tbody>
  <% @result.each do |row| %>  
    <tr class="detail2">
      <td> <%= row.account_name %> </td>
      <td> <%= row.account_number %> </td>
      <td style="text-align:right"> <%= number_with_precision(@previous_result[:"#{row.account_number}"], :locale => I18n.locale) %> </td>
      <td style="text-align:right"> <%= number_with_precision(row.total_period, :locale =>I18n.locale) %> </td>
      <td style="text-align:right"> <%= number_with_precision(@previous_result[:"#{row.account_number}"] + row.total_period.to_f,:locale => I18n.locale) %></td>
    <% if @show_last_period %>
      <td style="text-align:right"> <%= number_with_precision(@previous_last_result[:"#{row.account_number}"], :locale => I18n.locale) %> </td>
      <td style="text-align:right"> <%= number_with_precision(row.total_last_period, :locale =>I18n.locale) %> </td>
      <td style="text-align:right"> <%= number_with_precision(@previous_last_result[:"#{row.account_number}"] + row.total_last_period.to_f,:locale => I18n.locale) %> </td>
    <% end %>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2"></td>
      <td style="text-align:right"><%= number_with_precision(@previous_result[:total_result],:locale =>I18n.locale) %></td>
      <td style="text-align:right"><%= number_with_precision(@total_result["total_period"], :locale =>I18n.locale) %></td>
      <td style="text-align:right"><%= number_with_precision(@previous_result[:total_result]+@total_result["total_period"].to_f,:loacale => I18n.locale) %></td>
    <% if @show_last_period %>
      <td style="text-align:right"><%= number_with_precision(@previous_last_result[:total_result],:locale =>I18n.locale)%></td>
      <td style="text-align:right"><%= number_with_precision(@total_result["total_last_period"], :locale =>I18n.locale) %></td>
      <td style="text-align:right"><%= number_with_precision(@previous_last_result[:total_result]+@total_result["total_last_period"].to_f,:locale => I18n.locale) %></td>
    <% end %>
    </tr>
  </tfoot>
</table>

<table class="report">
  <thead>
    <tr>
      <th><%= t(:series, :scope=>:reports) %></th>
      <th><%= t(:accounting, :scope=>:reports) %></th>
      <th><%= t(:budget, :scope=>:reports) %></th>
      <th><%= t(:diff, :scope=>:reports) %></th>
    </tr>
  </thead>
  <thead>
    <tr>
      <th colspan="4"><%= t(:balance, :scope=>:reports) %></th>
    </tr>
  </thead>
  <tbody>
    <tr class="detail1">
      <td>1000</td>
      <td style="text-align:right"><%= number_with_precision(@total_balance["total_accounts_1000"], :locale =>I18n.locale) %></td>
      <td style="text-align:right"><%= number_with_precision(0.00, :locale =>I18n.locale) %></td>
      <td style="text-align:right"><%= number_with_precision(@total_balance["total_accounts_1000"], :locale =>I18n.locale) %></td>
    </tr>
    <tr class="detail1">
      <td>2000</td>
      <td style="text-align:right"><%= number_with_precision(@total_balance["total_accounts_2000"], :locale =>I18n.locale) %></td>
      <td style="text-align:right"><%= number_with_precision(0.00, :locale =>I18n.locale) %></td>
      <td style="text-align:right"><%= number_with_precision(@total_balance["total_accounts_2000"], :locale =>I18n.locale) %></td>
    </tr>
  </tbody>
  <thead>
    <tr>
      <th colspan="4"><%= t(:result, :scope=>:reports) %></th>
    </tr>
  </thead>
  <tbody>
    <tr class="detail2">
      <td>3000</td>
      <td style="text-align:right"><%= number_with_precision(@total_result["total_accounts_3000"], :locale =>I18n.locale) %></td>
      <td style="text-align:right"><%= number_with_precision(0.00, :locale =>I18n.locale) %></td>
      <td style="text-align:right"><%= number_with_precision(@total_result["total_accounts_3000"], :locale =>I18n.locale) %></td>
    </tr>
    <tr class="detail2">
      <td>4000</td>
      <td style="text-align:right"><%= number_with_precision(@total_result["total_accounts_4000"], :locale =>I18n.locale) %></td>
      <td style="text-align:right"><%= number_with_precision(0.00, :locale =>I18n.locale) %></td>
      <td style="text-align:right"><%= number_with_precision(@total_result["total_accounts_4000"], :locale =>I18n.locale) %></td>
    </tr>
    <tr class="detail2">
      <td>5000</td>
      <td style="text-align:right"><%= number_with_precision(@total_result["total_accounts_5000"], :locale =>I18n.locale) %></td>
      <td style="text-align:right"><%= number_with_precision(0.00, :locale =>I18n.locale) %></td>
      <td style="text-align:right"><%= number_with_precision(@total_result["total_accounts_5000"], :locale =>I18n.locale) %></td>
    </tr>
    <tr class="detail2">
      <td>6000</td>
      <td style="text-align:right"><%= number_with_precision(@total_result["total_accounts_6000"], :locale =>I18n.locale) %></td>
      <td style="text-align:right"><%= number_with_precision(0.00, :locale =>I18n.locale) %></td>
      <td style="text-align:right"><%= number_with_precision(@total_result["total_accounts_6000"], :locale =>I18n.locale) %></td>
    </tr>
    <tr class="detail2">
      <td>7000</td>
      <td style="text-align:right"><%= number_with_precision(@total_result["total_accounts_7000"], :locale =>I18n.locale) %></td>
      <td style="text-align:right"><%= number_with_precision(0.00, :locale =>I18n.locale) %></td>
      <td style="text-align:right"><%= number_with_precision(@total_result["total_accounts_7000"], :locale =>I18n.locale) %></td>
    </tr>
    <tr class="detail3">
      <td><%= t(:revenue, :scope=>:reports) %></td>
      <td style="text-align:right"><%= number_with_precision(@total_result["total_revenue"], :locale =>I18n.locale) %></td>
      <td style="text-align:right"><%= number_with_precision(0.00, :locale =>I18n.locale) %></td>
      <td style="text-align:right"><%= number_with_precision(@total_result["total_revenue"], :locale =>I18n.locale) %></td>
    </tr>
    <tr class="detail3">
      <td><%= t(:expenses, :scope=>:reports) %></td>
      <td style="text-align:right"><%= number_with_precision(@total_result["total_expenses"], :locale =>I18n.locale) %></td>
      <td style="text-align:right"><%= number_with_precision(0.00, :locale =>I18n.locale) %></td>
      <td style="text-align:right"><%= number_with_precision(@total_result["total_expenses"], :locale =>I18n.locale) %></td>
    </tr>
    <tr class="detail3">
      <td><%= t(:diff, :scope=>:reports) %></td>
      <td style="text-align:right"><%= number_with_precision(@total_result["total_diff"], :locale =>I18n.locale) %></td>
      <td style="text-align:right"><%= number_with_precision(0.00, :locale =>I18n.locale) %></td>
      <td style="text-align:right"><%= number_with_precision(@total_result["total_diff"], :locale =>I18n.locale) %></td>
    </tr>
    <tr class="detail3">
      <td>8000</td>
      <td style="text-align:right"><%= number_with_precision(@total_result["total_accounts_8000"], :locale =>I18n.locale) %></td>
      <td style="text-align:right"><%= number_with_precision(0.00, :locale =>I18n.locale) %></td>
      <td style="text-align:right"><%= number_with_precision(@total_result["total_accounts_8000"], :locale =>I18n.locale) %></td>
    </tr>
    <tr class="detail3">
      <td><%= t(:result, :scope=>:reports) %></td>
      <td style="text-align:right"><%= number_with_precision(@total_result["total_result"], :locale =>I18n.locale) %></td>
      <td style="text-align:right"><%= number_with_precision(0.00, :locale =>I18n.locale) %></td>
      <td style="text-align:right"><%= number_with_precision(@total_result["total_result"], :locale =>I18n.locale) %></td>
    </tr>
  </tbody>
</table>
