<p><h1><%= current_user.current_company.to_s %> - <%= current_user.to_s %> (<%= Date.today %>)</h1></p>
<p><h1>Ledger Balance period <%= title_to_periods_range({:from_period=>@first_period_to_balance, :to_period=>@last_period_to_balance}) %>. Results period <%= title_to_periods_range({:from_period=>@first_period_to_result, :to_period=>@last_period_to_result})%></h1></p>
<table class="report">
  <thead>
    <tr>
      <th colspan="8">Balance</th>
    </tr>
    <tr>
      <th colspan="2"></th>
      <th colspan="3"><%= title_to_periods_range({:from_period=>@first_period_to_balance, :to_period=>@last_period_to_balance}) %></th>
      <th colspan="3"><%= title_to_periods_range({:from_period=>@first_period_to_balance_last, :to_period=>@last_period_to_balance_last}) %></th>
    </tr>
    <tr>
      <th>Account Name</th>
      <th>Account Number</th>
      <th>Old Balance</th>
      <th>Period</th>
      <th>New Balance</th>
      <th>Old Balance</th>
      <th>Period</th>
      <th>New Balance</th>
    </tr>
  </thead>
  <tbody>
  <% @balance.each do |row| %>
    <tr class="section1">
      <td> <%= row.account_name %> </td>
      <td> <%= row.account_number %> </td>
      <td> <%= row.total_period_previous %> </td>
      <td> <%= row.total_period %> </td>
      <td> <%= row.balance_period %> </td>
      <td> <%= row.total_last_period_previous %> </td>
      <td> <%= row.total_last_period %> </td>
      <td> <%= row.balance_last_period %> </td>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="2"></th>
      <th><%= @total_balance["total_last_period"] %></th>
      <th><%= @total_balance["total_period"] %></th>
    </tr>
  </tfoot>
</table>

<table class="report">
  <thead>
    <tr>
      <th colspan="8">Result</th>
    </tr>
    <tr>
      <th colspan="2"></th>
      <th colspan="3"><%= title_to_periods_range({:from_period=>@first_period_to_result, :to_period=>@last_period_to_result}) %></th>
      <th colspan="3"><%= title_to_periods_range({:from_period=>@first_period_to_result_last, :to_period=>@last_period_to_result_last}) %></th>
    </tr>
    <tr>
      <th>Account Name</th>
      <th>Account Number</th>
      <th>Old Balance</th>
      <th>Period</th>
      <th>New Balance</th>
      <th>Old Balance</th>
      <th>Period</th>
      <th>New Balance</th>
    </tr>
  </thead>
  <tbody>
  <% @result.each do |row| %>  
    <tr class="section2">
      <td> <%= row.account_name %> </td>
      <td> <%= row.account_number %> </td>
      <td> <%= 0 %> </td>
      <td> <%= row.total_period %> </td>
      <td> <%= row.total_period %> </td>
      <td> <%= 0 %> </td>
      <td> <%= row.total_last_period %> </td>
      <td> <%= row.total_last_period %> </td>
    </tr>
  <% end %>
  </tbody>
</table>
